<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
</head>
<body>
    <h1>Edit task</h1>

    <form th:action="@{/tasks/update/} + ${task.id}" method="POST" th:object="${task}">

        <input type="text" th:field="*{name}"  th:placeholder="${task.name}"/> <br/>
        <input type="date" th:field="*{deadline}"  th:placeholder="${task.deadline}"/> <br/>
        <select th:field="*{priority}">
            <option  th:each="priority : ${T(com.projects.todo.model.Priority).values()}" th:value="${{priority}}" th:text="${priority.displayName}"></option>
        </select><br>
        <select th:field="*{status}">
            <option  th:each="status : ${T(com.projects.todo.model.Status).values()}" th:value="${{status}}" th:text="${status.displayName}"></option>
        </select><br>

        <button name="Submit" value="submit" type="Submit" th:text="Save"></button>
    </form>
    <form th:action="@{/tasks}" method="GET">
        <button name="Cancel" th:value="cancel" th:text="Cancel"></button>
    </form>
</body>
</html>