<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <form th:action="@{/j_spring_security_check}" method="POST">
        <h3 th:text="Welcome"></h3>
        <br/>

        <input type="text" id="name" name="username"  th:placeholder="Username"/> <br/>
        <input type="password" id="password" name="password" th:placeholder="Password"/> <br />

        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>

</body>
</html>